<h1> Hello </h1>
<% @artists.each do |artist| %>
    <%# here i dont but = because i don't want to print any thing but just do loop to take the name of each actor into my app%>
    <li>
    <%= link_to artist.name, artist_path(artist) %>
    
    </li>
    
<%end%>
