<h1>Songs</h1>

<% @songs.each do |song| %>
<li>
<%= song.name %>
<audio controls>
    <source src=<%= song.link %> type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
</li>
<% end %>